@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-btn {
    background-color: #FF5400;
    color: white;
    width: 174px;
    height: 60px;
    font-size: 20px;
    padding: 15px;
    /* color: rgba(19, 19, 24, 0.50); */
    border-radius: 8px;
    border: none;

}

/* -------------------------------navbar styles------------------------------- */
.nav-items {
    width: 40%;
    height: 100%;
}

.nav-items>ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

}

.nav-items>ul>li {
    margin-right: 20px;
}

.nav-items>ul>li>a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

nav {
    /* background-color: blue; */
    width: 80%;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo-title {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.logo-title>img {
    width: 60px;
    height: 56px;
    flex-shrink: 0;
    margin-right: 15px;
}

/* -------------------------------banner styles------------------------------- */
.banner-section {
    width: 80%;
    margin: auto;
    height: 600px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section-heading {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 35px;
}

.banner-section-des {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 70px;
    width: 70%
}

.banner-section-form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-section-form>input,
select,
button {
    width: 174px;
    height: 60px;
    font-size: 20px;
    padding: 15px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    border: none;
}

.banner-section-form>button {
    background: #FF5400;
    color: white;

}

/* -------------------------------popular tour styles------------------------------- */
main {
    width: 80%;
    margin: auto;
}

.popular-tours {
    color: rgba(19, 19, 24, 0.70);
    margin-top: 70px;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popular-tours-left {
    width: 50%
}

.popular-tours-left>h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;


}

.popular-tours-left>ul {
    margin-left: 20px;
}

.popular-tours-right {
    width: 40%;
}

.popular-tours-right>img {
    width: 100%;
    height: 100%;
}

/* -------------------------------destination styles------------------------------- */
.destinaton {
    margin-top: 100px;
}

.destination-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.destination-text>h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.destination-text>p {
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.destination-gallery-row img {
    height: 100%;
    width: 100%;
}

.destination-gallery-row {
    height: 400px;
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.destination-gallery-row-image {
    position: relative;
    display: inline-block;
}

.destination-gallery-row-image>img {
    display: block;
    max-width: 100%;
}

.destination-gallery-row-image>.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    font-weight: 800;
}








@media screen and (max-width: 600px) {

    /* -------------------------------navbar styles responsive------------------------------- */
    .hide-small {
        display: none;
    }

    /* -------------------------------banner styles responsive------------------------------- */
    .banner-section {
        height: 500px;
    }

    .banner-section-heading {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 10px;
        margin-top: 35px;
    }

    .banner-section-des {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .banner-section-form {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        /* align-items: flex-start; */
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: 0px;
    }

    .banner-section-form>input,
    select,
    button {
        width: 255px;
        height: 52px;
    }

    /* -------------------------------popular tour styles responsive------------------------------- */

    .popular-tours {
        flex-direction: column;
    }

    .popular-tours-left {
        width: 100%;
        text-align: justify;
        font-size: 14px;
    }

    .popular-tours-left>h1 {
        font-size: 20px;
    }

    .popular-tours-left>button {
        width: 174px;
        height: 52px;
    }

    .popular-tours-right {
        width: 100%;
        margin-top: 35px;
    }

}

@media screen and (min-width: 600px) {

    /* -------------------------------navbar styles responsive------------------------------- */
    .hide-big {
        display: none;
    }
}